@model MediaPlus.Models.ViewModels.ShowTemplateViewModel


@{
    ViewData["Title"] = @Localizer["edithead"];
}
<style>

    .main-content {
        width: -WEBKIT-FILL-AVAILABLE;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-12 col-md-offset-12">
		    <form role="form"asp-action="Edit" asp-controller="ShowTemplate" enctype="multipart/form-data">
                <br>
                
               <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="TempNameAr" type="text" class="form-control input-lg" placeholder="@Localizer["namear"]" tabindex="6">
                            <span asp-validation-for="TempNameAr" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="TempNameEng" type="text" class="form-control input-lg" placeholder="@Localizer["nameer"]" tabindex="6">
                            <span asp-validation-for="TempNameEng" class="text-danger"></span>
                        </div>
                    </div>
			    </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="TempRowNo" type="number" class="form-control input-lg" placeholder="@Localizer["numrow"]" tabindex="6">
                            <span asp-validation-for="TempRowNo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input asp-for="TempColNo" type="number" class="form-control input-lg" placeholder="@Localizer["numcol"]" tabindex="6">
                            <span asp-validation-for="TempColNo" class="text-danger"></span>
                        </div>
                    </div>
			    </div>

 
                <div style="display: none;" class="invisible">
                        <input asp-for="TempIsactive"  class="d-none" type="text" /> 
                </div>
                <div style="display: none;" class="invisible">
                        <input asp-for="TempCdate"  class="d-none" type="text" /> 
                </div>
                <div style="display: none;" class="invisible">
                        <input asp-for="TempId"  class="d-none" type="text" />
                </div>
                <div style="display: none;" class="invisible">
                        <input asp-for="TempByUserid"  class="d-none" type="text" />
                </div>
                <div style="display: none;" class="invisible">
                        <input asp-for="TempCustCode"  class="d-none" type="text" />
                </div>
			
			    <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="submit" value="@Localizer["submit"]" class="btn btn-success btn-block btn-lg">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a asp-action="Index" asp-controller="ShowTemplate" value="Return" class="btn btn-primary btn-block btn-lg" tabindex="7">@Localizer["return"]</a>
                    </div>
                </div>
		</form>
	</div>
    </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   
}
