@model MediaPlus.Models.ViewModels.RolePermissionViewModel

@{
    ViewData["Title"] = "Edit Role Permission";
} 

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-sm-offset-2 col-md-offset-3">
		    <form role="form"asp-action="EditRolePermission" asp-controller="UserRole" method="post">
                <br>
                <h2 class="text-center">@Localizer["edit"] <strong>@Model.RoleName.ToUpper()</strong> @Localizer["permissions"]</h2>
                <hr class="colorgraph">


                <div asp-for class="row">
                    @for (var i = 0; i < Model.Permissions.Count(); i++)
                    {
                        if (i % 4 == 0)
                         {
                             <h3 class="col-xs-12 col-sm-12 col-md-12 text-center">
                                 <strong>
                                     @Localizer[@Model.Permissions[i].PermNameEn.Split(".")[0].ToLower()]
                                 </strong>
                             </h3>
                             <br>
                             <hr>
                         }
                         <div class="col-xs-4 col-sm-3 col-md-3">
                             <span class="button-checkbox">
                                 <button type="button" class="btn" data-color="info" tabindex="7">
                                     @Model.Permissions[i].PermNameEn.Split(".")[1].ToUpper()
                                 </button>
                                 <input type="checkbox" class="hidden" asp-for="@Model.Permissions[i].PermIsactive">
                             </span>
                             <input asp-for="@Model.Permissions[i].PermId" type="hidden" style="display: none;" />
                         </div> 
                    }
                </div>
                   
                
        
                <div class="invisible">
                    <input asp-for="RoleId" class="d-none" type="text" />
                </div>

			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6">
                    <a asp-action="RolesPermission" asp-controller="UserRole" value="Return" class="btn btn-primary btn-block btn-lg" tabindex="7">@Localizer["return"]</a>
                </div>
				<div class="col-xs-12 col-md-6">
                    <input type="submit" class="btn btn-success btn-block btn-lg" value="@Localizer["submit"]">
                </div>
			</div>
		</form>
	</div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
