@model IEnumerable<RoleViewModel>
@using System.Text.Json
@using MediaPlus.DBModels

@{
    ViewData["Title"] = "«·’·«ÕÌ« ";

    var currentUser = JsonSerializer.Deserialize<User>(Context.Session.GetString("UserObject")!);
}

<style>
    .main-content {
        width: -webkit-fill-available;
    }
</style
<div class="container-fluid">
    <div class="d-flex justify-content-end my-3">
        <a asp-action="Create" asp-controller="UserRole" class="btn btn-primary">
            @Localizer["addnewhead"]
            <i class="fa fa-plus ms-1"></i>
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="Datatable" class="table table-bordered table-striped text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>@Localizer["name"]</th>
                            <th>@Localizer["customer"]</th>
                            <th>@Localizer["username"]</th>
                            <th>@Localizer["cdate"]</th>
                            <th>@Localizer["udate"]</th>
                            <th>@Localizer["state"]</th>
                            <th>@Localizer["actions"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model)

                        {
                            <tr>
                                <td>
                                    @(role.RoleNameAr == "null" ? role.RoleNameEn : role.RoleNameAr)
                                </td>
                                <td>@role.CustomerName</td>
                                <td>@role.UserName</td>
                                <td>@role.RoleCdate?.ToString("dd/MM/yyyy")</td>
                                <td>@role.RoleUdate?.ToString("dd/MM/yyyy")</td>
                                <td>
                                    <button id="statusBtn-@role.RoleId"
                                            onclick='customtoggleRoleStatus("UserRole",@role.RoleId)'
                                            class="btn btn-sm @(role.RoleIsactive ? "btn-success" : "btn-danger")">
                                        @(role.RoleIsactive ? @Localizer["on"] : @Localizer["off"])
                                        <i class="bi bi-power" style="pointer-events: none;"></i>
                                    </button>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="UserRole" asp-route-id="@role.RoleId" class="btn btn-sm btn-primary">
                                        @Localizer["edit"]
                                    </a>
                                    |
                                    <button type="button"
                                            class="btn btn-sm btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#confirmDeleteModal"
                                            onclick="setDeleteRoleId(@role.RoleId)">
                                        @Localizer["delete"]
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section model {
    <!-- Modal  √ﬂÌœ «·Õ–› -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="DeleteForm" method="get" asp-controller="UserRole">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel">@Localizer["confirmdelete"]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        @Localizer["deletemodalbody"]
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["close"]</button>
                        <button type="submit" class="btn btn-danger">@Localizer["delete"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
@section Scripts {
    <script>
        function MoveTheIdToModal(roleId) {
            const form = document.getElementById("DeleteForm");
            const base = form.getAttribute('action').split('/');
            const newUrl = '/' + base[1] + '/' + base[2] + '/' + roleId;
            form.setAttribute("action", newUrl);
        }

        function setDeleteRoleId(roleId) {
            const form = document.getElementById("DeleteForm");
            form.setAttribute("action", `/UserRole/Delete/${roleId}`);
        }


    </script>
}
