@model MediaPlus.Models.ViewModels.UserPermissionViewModel

@{
    ViewData["Title"] = "Add New Permission";
}
<style>
    .main-content {
        width: -webkit-fill-available;
    }
</style>

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12">
            <div class="card ">
                <div class="card-body">
                    <form asp-action="Create" asp-controller="UserPermission" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="PermNameAr" class="form-label">@Localizer["namear"]</label>
                            <input asp-for="PermNameAr" class="form-control" placeholder="@Localizer["namear"]" />
                            <span asp-validation-for="PermNameAr" class="text-danger small"></span>
                        </div>

                        <div class="form-group mb-4">
                            <label asp-for="PermNameEn" class="form-label">@Localizer["nameer"]</label>
                            <input asp-for="PermNameEn" class="form-control" placeholder="@Localizer["nameer"]" />
                            <span asp-validation-for="PermNameEn" class="text-danger small"></span>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">
                                @Localizer["submit"]
                            </button>
                            <a asp-action="Index" asp-controller="UserPermission" class="btn btn-secondary">
                                @Localizer["return"]
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
