@model MediaPlus.Models.ViewModels.UserPermissionViewModel


@{
    ViewData["Title"] = "Edit User Permission";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-7 col-sm-offset-2 col-md-offset-3">
		    <form role="form"asp-action="Edit" asp-controller="UserPermission">
                <br>
                <h2 class="text-center">@Localizer["edithead"]</h2>
                <hr class="colorgraph">

                <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input asp-for="PermNameAr" type="text" class="form-control input-lg" placeholder="@Localizer["namear"]" tabindex="4">
                            <span asp-validation-for="PermNameAr" class="text-danger"></span>                        
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input asp-for="PermNameEn" type="text" class="form-control input-lg" placeholder="@Localizer["nameer"]" tabindex="4">
                            <span asp-validation-for="PermNameEn" class="text-danger"></span>     
                        </div>
                </div>



                <div style="display: none;" class="invisible">
                    <input asp-for="PermIsactive"  class="d-none" type="text" />
                </div>
                 <div style="display: none;" class="invisible">
                    <input asp-for="PermCustCode"  class="d-none" type="text" />
                </div>
                  <div style="display: none;" class="invisible">
                    <input asp-for="PermCdate"  class="d-none" type="text" />
                </div>
                <div style="display: none;" class="invisible">
                    <input asp-for="PermByUserid"  class="d-none" type="text" />
                </div>
                <div style="display: none;" class="invisible">
                    <input asp-for="PermId"  class="d-none" type="text" />
                </div>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6">
                    <a asp-action="Index" asp-controller="UserPermission" value="Return" class="btn btn-primary btn-block btn-lg" tabindex="7">@Localizer["return"]</a>
                </div>
				<div class="col-xs-12 col-md-6">
                    <input type="submit" class="btn btn-success btn-block btn-lg" value="@Localizer["submit"]">
                </div>
			</div>
		</form>
	</div>
    </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
