@model MediaPlus.Models.ViewModels.AdGroupViewModel
@using MediaPlus.Services
@using Newtonsoft.Json

@{
    ViewBag.Title = @Localizer["addnew"];



    var currentUser = JsonConvert.DeserializeObject<UserSessionModel>(Context.Session.GetString("UserObject")!);
}
<style>

    .main-content {
        width: -WEBKIT-FILL-AVAILABLE;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-2 col-md-offset-3">
		    <form role="form"asp-action="Create" asp-controller="AdGroup" enctype="multipart/form-data">
                <br>


				<div class="form-group">
                    <label asp-for="GroupName">@Localizer["name"]</label>
                    <input asp-for="GroupName" type="text" class="form-control input-lg" placeholder="@Localizer["name"]" tabindex="1">
                    <span asp-validation-for="GroupName" class="text-danger"></span>
				</div>
				
			
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6">
                    <input type="submit" value="@Localizer["submit"]" class="btn btn-success btn-block btn-lg">
                </div>
				<div class="col-xs-12 col-md-6">
                    <a asp-action="Index" asp-controller="AdGroup" value="Return" class="btn btn-primary btn-block btn-lg" tabindex="7">@Localizer["return"]</a>
                </div>
			</div>
		</form>
	</div>
    </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
