@model MediaPlus.Models.ViewModels.AdGroupViewModel
@using MediaPlus.Services
@using Newtonsoft.Json

@{
    ViewBag.Title = @Localizer["edithead"];

    var currentUser = JsonConvert.DeserializeObject<UserSessionModel>(Context.Session.GetString("UserObject")!);
}
<style>

    .main-content {
        width: -WEBKIT-FILL-AVAILABLE;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-sm-offset-2 col-md-offset-3">
            <form role="form" asp-action="Edit" asp-controller="AdGroup" enctype="multipart/form-data">
                <br>
                
                <div class="form-group">
                    <label asp-for="GroupName">@Localizer["name"]</label>
                    <input asp-for="GroupName" type="text" class="form-control input-lg" placeholder="@Localizer["name"]" tabindex="1">
                        <span asp-validation-for="GroupName" class="text-danger"></span>
                </div>


                <div style="display: none;" class="invisible">
                        <input asp-for="GroupIsactive"  class="d-none" type="text" /> 
                </div> 
                <div style="display: none;" class="invisible">
                        <input asp-for="GroupCustCode"  class="d-none" type="text" /> 
                </div>
                <div style="display: none;" class="invisible">
                        <input asp-for="GroupByUserid"  class="d-none" type="text" />
                </div>
                <div style="display: none;" class="invisible">
                        <input asp-for="GroupCdate"  class="d-none" type="text" />
                </div>
                <div style="display: none;" class="invisible">
                        <input asp-for="GroupId"  class="d-none" type="text" />
                </div>
               
                
			
			    <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="submit" value="@Localizer["submit"]" class="btn btn-success btn-block btn-lg">
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <a asp-action="Index" asp-controller="AdGroup" value="Return" class="btn btn-primary btn-block btn-lg" tabindex="7">@Localizer["return"]</a>
                    </div>
                </div>
		</form>
	</div>
    </div>
</div>

 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById('toggle').addEventListener('click', (e) => 
        {
            
            var togglebtn = document.getElementById('toggle');
            var attachfile = document.getElementById('attachedFile');
            var attachfileChild = document.getElementById('attachedFileChild');
            var txtarea = document.getElementById('txtarea');
            var txtareachild = document.getElementById('txtareachild');


          if (txtarea.style.display !== "none") {
                txtarea.style.display = "none";
                txtareachild.value = '';
                attachfile.style.display = "block";
            } else {
                txtarea.style.display = "block";
                attachfileChild.value = '';
                attachfile.style.display = "none";
            }
        
        })
                    
    </script>

}
